#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Arial, Helvetica, sans-serif;
  color: #0D0C1D;
  background-color: #EEE;
}

body {
  background-color: #EEE;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}